In [1]:
import pandas as pd
import numpy as np

In [6]:
courses=pd.read_csv('courses.csv')
delivery=pd.read_csv('deliveries.csv')
matches=pd.read_csv('matches.csv')
nov=pd.read_csv('reg-month1.csv')
dec=pd.read_csv('reg-month2.csv')
student=pd.read_csv('students.csv')

In [13]:
dec

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1